header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
    display: block;
}

body {
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

header {
    margin: 25px 0;
    height: 160px;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
}

div.title {
    width: 100%;
    height: 100px;
}

header h1 {
    color: #000;
    margin: 0;
    line-height: 100px;
}

nav,
footer {
    clear: both;
    color: #000;
    background-color: #fff;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: #000;
    padding: 10px;
}

nav li a:hover {
    color: #fff;
    background-color: black;
}

.main {
    padding: 25px 50px;
    margin: 20px 0;
}

section.menu {
    float: left;
    width: 70%;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
    margin: 20px 0;
}

article table{
    border: 0;
    display: block;
}

article table td {
    padding: 10px;
}

article a{
    color: black;
}

article .btn {
    color: #fff;
    background-color: black;
    padding: 10px;
}

article .btn:active {
    border: 1px solid black;
    color: #000;
    background-color: white;
}

article table .image{
    width: 20%;
}

article table .description{
    width: 80%;
    vertical-align: top;
}

hgroup {
    margin-top: 40px;
}

img {
    width: 290px; 
    max-height: 100%;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

aside {
    width: 30%;
    float: left;
    padding: 0px 0px 0px 20px;
}

aside section a {
    display: block;
    padding: 10px;
}

aside a {
    color: #000;
}

aside section a:hover {
    background-color: rgb(240, 240, 240);
}

h1,
h2,
h3 {
    font-weight: normal;
}

aside h3 {
    margin: 0px 0px 10px 0px;
    color: #000;
}

aside h2 {
    padding: 0 0 10px;
    margin-bottom: 10px;
    color: #000;
}

footer {
    text-align: center;
    padding: 25px 0;
    margin: 25px 0;
}